<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventsauce.io Demo</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <header class="bg-grey-light">
        <nav class="mx-auto max-w-lg p-4">
            <a class="no-underline" href="#">
                <img class="inline-block align-middle" width="30" height="30" src="https://eventsauce.io/static/logo.svg">
                <span class="text-lg">EventSauce.io unofficial Demo</span>
            </a>
        </nav>
    </header>
    <main class="mx-auto max-w-lg p-4">
        {% for error in errors if errors is defined %}
            <div class="rounded bg-red-lightest border border-red p-4 mb-1">
                {{ error }}
            </div>
        {% endfor %}
        
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>